<!DOCTYPE html>
<html>
     <head>
            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main2.css')}}">
     </head>
    <body>
            <form action ="/fct1" method="POST">
                <p> Enter your name </p>
                <p>
                    salut salut 
                </p>
                <h5><input type="text" name = 'name' /></h5>
                <h4> <input type="submit" value= "Valider" /></h4>


            </form>
            
    </body>

</html>  
